* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

h1{
  color: blue;
}

input {
  display: block;
  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: orange;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: midnightblue;
  color: white;
}
